header
    .header-inner-container
        .header-text-container
            h1 API TESTING WITH NODE JS
        .search-container
            form(action='/submit' method='post' id="search-form")
                input(type='search' name="search" id='search-input' class='search-input' placeholder='Search...')
                button(type='submit' id='search-submit' class='search-submit')