doctype html
head
    title Flash Cards
    link(rel='stylesheet' href='/static/stylesheets/style.css')
header
    img(src='/static/img/logo.png')
    p An app to help you study
section.namecard
    .namecard-hello
        p.namecard-greeting Hello, student!
    form.namecard-form(action='/' method='post')
        label.namecard-prompt
            | Please enter your name:
        input.namecard-name(type='text' name='username')
        button.namecard-submit(type='submit') Submit
