doctype html
html(lang='en')
    head
        title Landing Page
        meta(charset='UTF-8')
        link(href='normalize.css' rel='stylesheet' type='text/css')
        link(href='styles.css' rel='stylesheet' type='text/css')
    body
        header
            .header-inner-container
                h1 API TESTING WITH NODE JS
            .search-container
                form(action='#' method='get')
                    input(type='search' id='search-input' class='search-input' placeholder='Search...')
                    input(type='submit' value="&#x1F50D;" id='search-submit' class='search-submit')

        #gallery.gallery
            #card
                p test

        script(type='text/javascript' src='js/script.js')
