doctype html
html(lang="en")
    head
        title Flash Cards
    body
        header
            hi Flash Cards
        section#content
            h2 Welcome friend!
        footer
            p An app to help you study