doctype html
html(lang="en")
    head
        title Landing Page
    body
        hi The future of something magical!
        p In eggplant, quonset is grain bins, grain trucks quonset pole shed, with fences gates zucchini carrots scrap metal. Combine Harvester swather, baler as haybine parsley, melon in hay rake. Veterinaria.
        p Seeder eggs with watermelon ostriches. Onion organic oranges and purr ducks canning owls at a squeal. Turkey daisys eggs squeal, horses moonshine apples raising Mooo tractor plow. John Deere bees, parsley sweet corn at, porky pig shovels. Feed in a woof, a farmers market. Feed in a woof.