doctype html
html(lang="en")
    head
        title Flash Cards
        meta(charset='UTF-8')
    body
        include includes/header.pug
        section#content

            block content

        footer
            p An app to help you study