doctype html
html(lang="en")
    head
        title Flash Cards
        meta(charset='UTF-8')
        link(href='normalize.css' rel='stylesheet' type='text/css')
        link(href='styles.css' rel='stylesheet' type='text/css')
    body
        include includes/header.pug
        section#content

            h2 layout loaded
            block content

        footer
            p An app to help you study