doctype html
html(lang="en")
    head
        title Flash Cards
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/static/stylesheets/style.css', type="text/css")
    body
        if name
            h1 EXPRESS TESTING
                h1 logged in as: #{name}
            section#content

                block content

            footer
                p An app to help you study
                form(action='/signOut' method="post")
                    button
                        p Sign out


        else
            h1 EXPRESS TESTING
                
            section#content

                block content

            footer
                p An app to help you study