doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p Gate wind, moonshine horses meow irrigation , with feed troughs cheep, or cabbage with pumpkin trees chicken. In the straw rain barrels. Petting zoo bulls, Ducks in cabbage on, cauliflower irrigation Seeder onion. Pick up truck livestock, pets and storage shed, troughs feed bale manure, is garden wheat oats at augers. Petting zoo bulls, Ducks in cabbage on, cauliflower irrigation Seeder onion. Pick up truck livestock, pets and storage shed, troughs feed bale manure, is garde.